<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PUCPSaludable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PUCPSaludable.Properties.Settings>
            <setting name="sessionID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="role" serializeAs="String">
                <value />
            </setting>
        </PUCPSaludable.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AlumnoServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="CitasServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="PlanAlimentarioServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="AdministradorServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="IndicadorSaludServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="CumplimientoRutinaServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="AlimentoWebServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="IndicadorAntropoServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="NutricionistaServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="EspecialistaServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="AutenticacionPortBinding" maxReceivedMessageSize="64000000" />
                <binding name="HorarioHabitualServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="IngredienteServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="HorarioCitasServicePortBinding" maxReceivedMessageSize="64000000" />
                <binding name="HorasSuenhoServicesPortBinding" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/CitasService"
                binding="basicHttpBinding" bindingConfiguration="CitasServicePortBinding"
                contract="CitasWS.CitasService" name="CitasServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AdministradorService"
                binding="basicHttpBinding" bindingConfiguration="AdministradorServicePortBinding"
                contract="AdministradorWS.AdministradorService" name="AdministradorServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/IndicadorSaludService"
                binding="basicHttpBinding" bindingConfiguration="IndicadorSaludServicePortBinding"
                contract="IndicadorSaludWS.IndicadorSaludService" name="IndicadorSaludServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/CumplimientoRutina"
                binding="basicHttpBinding" bindingConfiguration="CumplimientoRutinaServicePortBinding"
                contract="CRutinaWS.CumplimientoRutinaService" name="CumplimientoRutinaServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AlimentoWebService"
                binding="basicHttpBinding" bindingConfiguration="AlimentoWebServicePortBinding"
                contract="AlimentoWS.AlimentoWebService" name="AlimentoWebServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/authentication"
                binding="basicHttpBinding" bindingConfiguration="AutenticacionPortBinding"
                contract="AutenticacionWS.Autenticacion" name="AutenticacionPort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioHabitual"
                binding="basicHttpBinding" bindingConfiguration="HorarioHabitualServicePortBinding"
                contract="HorarioHabitualWS.HorarioHabitualService" name="HorarioHabitualServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/IngredienteService"
                binding="basicHttpBinding" bindingConfiguration="IngredienteServicePortBinding"
                contract="IngredienteWS.IngredienteService" name="IngredienteServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioCitasService"
                binding="basicHttpBinding" bindingConfiguration="HorarioCitasServicePortBinding"
                contract="HorarioCitaWS.HorarioCitasService" name="HorarioCitasServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/Alumno"
                binding="basicHttpBinding" bindingConfiguration="AlumnoServicePortBinding"
                contract="AlumnoWS.AlumnoService" name="AlumnoServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorasSuenhoServices"
                binding="basicHttpBinding" bindingConfiguration="HorasSuenhoServicesPortBinding"
                contract="HorasSuenhoWS.HorasSuenhoServices" name="HorasSuenhoServicesPort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/PlanAlimentario"
                binding="basicHttpBinding" bindingConfiguration="PlanAlimentarioServicePortBinding"
                contract="PlanAlimentarioWS.PlanAlimentarioService" name="PlanAlimentarioServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/IndicadorAntropoService"
                binding="basicHttpBinding" bindingConfiguration="IndicadorAntropoServicePortBinding"
                contract="IndicadorAntropometricoWS.IndicadorAntropoService"
                name="IndicadorAntropoServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/NutricionistaService"
                binding="basicHttpBinding" bindingConfiguration="NutricionistaServicePortBinding"
                contract="NutricionistaWS.NutricionistaService" name="NutricionistaServicePort" />
            <endpoint address="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/Especialista"
                binding="basicHttpBinding" bindingConfiguration="EspecialistaServicePortBinding"
                contract="EspecialistaWS.EspecialistaService" name="EspecialistaServicePort" />
        </client>
    </system.serviceModel>
    <system.net>
        <defaultProxy>
            <bypasslist>
                <add address="pucpsaludable.ml" />
            </bypasslist>
        </defaultProxy>
    </system.net>
</configuration>